body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("DALL·E 2024-12-24 00.50.44 - A creative illustration representing a rental website named 'اجاره چی', featuring various icons such as cars, furniture, tools, electronics, and cloth.png");
    font-family: "IRANSansWeb Medium" !important;
}


