body{
    background-image: url("DALL·E 2024-12-26 09.46.24 - A visually appealing background image representing an online rental platform for various items. The design should feature a modern and clean aesthetic.png");
    background-repeat: no-repeat;
    background-size: cover;
      font-family: "IRANSansWeb Medium" !important;
}
