body {
    background-image: url("DALL·E 2024-12-24 16.31.03 - A visually appealing background image representing the concept of item rentals. The image includes a variety of items like bicycles, cameras, tools, a.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "IRANSansWeb Medium" !important;
}